.grow {
  flex-grow           : 1;
}

.menuButton {
  margin-right        : 20px;
}

.main-avatar {
  background-color    : #eb6561 !important;
}

.column {
  flex-direction      : column;
}

.sectionDesktop{
  display             : flex;
}

.sectionMobile {
  display             : none;
}

.sectionAll {
  display             : flex;
  color               : #6d7278 !important;
}

.appbarStyle{
  border-radius       : 0px 0px 20px 20px;
  height              : 70px;
  background-color    : #38495d !important;
}

@media screen and (max-width: 1100px) {
  .sectionDesktop {
    display          : none;
  }

  .sectionMobile {
    display         : flex;
  }

  .appbarStyle {
    background-color: #ebeff0 !important;
  }

  h5{
    color           : black;
  }
}