.dialog-list {
  height          : 390px;
  width           : 600px;
}

.item-align {
  text-align      : center !important;
  padding         : 0px;
  font-size       : 18px;
}

.textField-style {
  margin-right    : 20px !important;
}

.note-textField-style {
    width         : 100%;
}

.price-textField-style {
  margin-right    : 20px !important;
  margin-top      : 5px !important;
}

.calendar {
  margin-top      : 5px !important;
}

.date-section {
  margin-top      : 15px !important;
  cursor          : pointer;
}

.price-section{
  display         : flex;
}

.radio-group {
  margin-top      : 10px !important;
  margin-right    : -25px !important;
}

.actions-block{
  margin          : 30px 10px;
  background-color: white;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
}

.ok-icon-button{
  margin-left     : 20px !important;
  padding         : 0px 5px 0px 0px;
  font-size       : 16px !important;
  font-family     : IRANSans !important;
  text-align      : start;
  background-color: #5bc767 !important;
  border-radius   : 20px !important;
  cursor          : pointer;
}

.cancel-icon-button{
  margin-left     : 20px !important;
  padding         : 0px 5px 0px 0px;
  font-size       : 16px !important;
  font-family     : IRANSans !important;
  text-align      : start;
  background-color: #f74664 !important;
  border-radius   : 20px !important;
  cursor          : pointer;
}

.icons-style{
  margin-left     : 15PX;
}

@media screen and (max-width: 600px) {
  .dialog-list {
    height        : 370px;
    width         : 300px;
  }
}
