.dialog-list {
  height          : 470px;
  width           : 600px;
}

.item-align {
  display         : flex;
  justify-content: start;
  align-items: center;
  text-align      : center !important;
  padding         : 0px;
  font-size       : 18px;
}

.delete {
  color: red !important;
  cursor: pointer;
}
.add-title {
  margin-right: 240px;
}

.textField-style {
  margin-right    : 20px !important;
}

.note-textField-style {
  width           : 100%;
}

.this-month {
  font-size       : 16px;
}

.price-textField-style {
  margin-right    : 20px !important;
  margin-top      : 5px !important;
}

.calendar {
  margin-left      : 10px !important;
}

.date-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top      : 20px !important;
  cursor          : pointer;
}

.price-section{
  display         : flex;
  margin-top : 5px !important;
  margin-bottom : 5px !important;
}

.MuiTypography-body1 , .MuiInput-input{
 font-family: IRANSans !important;
}

.radio-group {
  margin-top      : 20px !important;
  margin-bottom      : 20px !important;
  margin-right    : -25px !important;
}

.actions-block{
  margin          : 30px 10px;
  background-color: white;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
}

.ok-icon-button{
  margin-left     : 20px !important;
  padding         : 0px 5px 0px 0px;
  font-size       : 16px !important;
  font-family     : IRANSans !important;
  text-align      : start;
  background-color: #5bc767 !important;
  border-radius   : 20px !important;
  cursor          : pointer;
}

.cancel-icon-button{
  margin-left     : 20px !important;
  padding         : 0px 5px 0px 0px;
  font-size       : 16px !important;
  font-family     : IRANSans !important;
  text-align      : start;
  background-color: #f74664 !important;
  border-radius   : 20px !important;
  cursor          : pointer;
}

.icons-style{
  margin-left     : 15PX;
}

@media screen and (max-width: 600px) {
  .dialog-list {
    height        : 500px;
    width         : 300px;
  }
  .add-title {
    margin-right: 90px;
  }
}
