.main {
  background-color: white;
  flex-direction  : column;
  width           : 100%;
  height          : 100%;
}

.report-block {
  padding         : 20px;
  background-color: #38495d;
  height          : 250px;
}

.paper {
  padding         : 5px 25px 5px 25px;
  text-align      : start;
  color           : white;
  border-radius   : 16px;
  margin          : 10px 10px 0px 10px;
  cursor          : pointer;
}

.whole {
  padding         : 0px 5px 0px 0px;
  text-align      : start;
  color           : white;
  border-radius   : 16px;
}

.received-color {
  background-color: #20aaea;
}

.payment-color {
  background-color: #ec353c;
}

.title {
  font-size       : 18px;
}

.sum {
  font-size       : 16px;
}

.buttons-block {
  margin          : 10px;
  background-color: white;
  display         : flex;
  justify-content : flex-start;
  align-items     : center;
}

.icon-button {
  margin-left     : 20px !important;
  padding         : 0px 5px 0px 0px;
  font-size       : 16px !important;
  font-family     : IRANSans !important;
  text-align      : start;
  background-color: #377e20 !important;
  border-radius   : 8px !important;
  cursor          : pointer;
}

.transaction-block {
  background-color: white;
  min-height      : 350px;
}

.dialog{
  height          : 300px;
  width           : 600px;
}

.clickable{
  cursor          : pointer;
}

.align{
  text-align: center !important;
  padding         : 23px;
  font-size       : 18px;
}

@media screen and (max-width: 1100px){
  .paper {
    margin       : 10px 5px 0px 5px;
    padding      : 5px 5px 20px 5px;
  }

  .icon-button {
    font-size    : 14px !important;
  }

  .paper {
    padding      : 5px 10px 5px 10px;
    margin-left  : 5px;
  }

  .title {
    font-size    : 16px;
  }

  .report-block {
    padding      : 20px 5px;
    height       : 220px;
  }
}
@media screen and (max-width: 600px) {
  .dialog {
    height       : 200px;
    width        : 300px;
  }

  .align{
    padding      : 12px;
  }
  
}
