.main {
  background-color: white;
  flex-direction  : column;
  width           : 100%;
  height          : 100%;
}
.report {
  padding         : 20px;
  background-color: #38495d;
  height          : 270px;
}
.details {
  background-color: white;
  width           : 100%;
  height          : 200px;
}
.paper {
  padding         : 5px 25px 5px 25px;
  text-align      : center;
  color           : black;
  border-radius   : 16px;
  margin          : 10px 10px 0px 10px;
  cursor          : pointer;
}
.whole {
  padding         : 0px 5px 0px 0px;
  text-align      : start;
  color           : white;
  border-radius   : 16px;
  cursor          : pointer;
}
.received-color {
  background-color: #99f7ab;
}
.payment-color {
  background-color: #ffa2a2;
}
.title {
  font-size       : 20px;
  font-weight     : bold;
}
.sum {
  font-size       : 18px;
}
.excel-blocl {
  margin-top      : 10px;
  display         : flex;
  justify-content : center;
  align-items     : center;
}
.excel {
  padding          : 0px 5px 0px 0px;
  font-size        : 20px !important;
  text-align       : start;
  background-color : #2F65A2 !important;
  border-radius    : 8px !important;
  cursor           : pointer;
}
.excel-icon {
  margin-left      : 10px;
  font-size        : 22px !important;
}

@media screen and (max-width: 1100px) {
  .paper {
    margin         : 10px 5px 0px 5px;
    padding        : 5px 5px 20px 5px;
  }
  .sum {
    font-size      : 18px;
  }
}
